body{
  margin: 0;
  padding: 0;
  background: #fff; /*background에 다양한 속성을 지정할수있다*/
  color: #4a4a4a;
}
header, footer{
  font-size: large;
  text-align: center;
  padding: 0.3en 0;
  background-color: #4a4a4a; /*background에 색상만 지정할수 있게 특화*/
  color: #f9f9f9; /*글자색*/
}
nav{
 background: #eee;
 }
 main{
background: #f9f9f9;
 }
 aside{
  background: #eee;
 }
